div {
    border-radius: 8px;
    margin: 20px;
}

div.parent-body {
    background-color: lightgrey;
    padding: 20px;
}

div.child-body {
    background-color: whitesmoke;
    padding: 14px;
}

/*
Add overflow for user permissions and location list
*/