div.parent-body {
    background-color: lightgrey;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    width: 40%;
}

div.child-body {
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 20px;
    padding: 14px;
}