body {
    margin: 0;
    box-sizing: border-box;
}

/* The main body in a page */
div.main-body {
    width: 40%;
    background-color: lightgrey;
    margin: 10px;
    padding: 15px;
    border-radius: 6px;
}

div.login-body {
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    width: 25%;
    background-color: #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.login-body h2 {
    text-align: center;
}

.text-warn {
    color: red;
}

footer {
    background-color: lightcoral;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    padding: 20px;

    vertical-align: bottom;
}

footer a { color: #e4e4e4; }