div.stars {
    width: 120px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 2px;
    font-size: 16px;
    color: #444;
    transition: all 200ms;
}

label.star-static-full~label.star-static-full:before {
    font-size: 16px;
    content: '\f005';
    color: #FD4;
    font-family: FontAwesome;
}

label.star-static {
    font-size: 16px;
    content: '\f005';
    color: #444;
    font-family: FontAwesome;
}

label.star-static:before {
    content: '\f006';
    font-family: FontAwesome;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all 250ms;
}

label.star:hover {
    transform: scale(1.1);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}