body {
    margin: 0;
    box-sizing: border-box;
}

p, ul {
    font-size: 18px;
}

.custom-search {
    width: 400px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.custom-search-btn {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

div.wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.scroll-container {
    overflow: auto;
    justify-content: flex-start;
    white-space: nowrap;
}

/* CAROUSEL STUFF */
.carousel-caption {
    margin: auto;
    width: max-content;
    margin-bottom: 20em;
}


.carousel-caption .carousel-caption-inner {
    background-color: rgba(0, 0, 0, 0.8);
    
    padding: 10px;
    border-radius: 20px 20px 0 0;

    transition-duration: 250ms;
}

.carousel-caption .carousel-caption-inner:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
    font-weight: bold;
    border-radius: 0 0 20px 20px;
}

.carousel-caption .btn:hover {
    background-color: rgb(255, 114, 114);
}

/* CAROUSEL STUFF ENDS */

/* For rating coloring */
span.review-None { background-color: grey; }
span.review-1 { background-color: red; }
span.review-2 { background-color: rgb(205, 133, 0); }
span.review-3 { background-color: #adad00; }
span.review-4 { background-color: #68cd32; }
span.review-5 { background-color: green; }
span.review-None, span.review-1, span.review-2, span.review-3, span.review-4, span.review-5 {
    padding: 1px 4px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

a.fav-button {
    font-size: 30px;
    color: rgb(255, 105, 130);
    margin-left: 5vw;
    background: none;
    border: none;
}


.fav-button:focus { outline: none; }

/* CATEGORY RELATED STUFF STARTS */

div.category-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
}

a.category-card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    border: none;
    background-color: white;
    width: 30%;

    border: 1px solid lightgrey;
    border-radius: 6px;

    color: red;
    text-decoration: none;

    transition-duration: 250ms;
}

a.category-card:hover {
    background-color: #f0f0f0;
    color: red;
    text-decoration: none;
}

/* CATEGORY STUFF ENDS */

.card {
    margin-left: 20px;
    display: inline-block !important;
    white-space: normal;

    transition-duration: 250ms;
}

.card:hover {
    background-color: #f0f0f0;  
}

div.login-body {
    margin: auto;
    margin-bottom: 60px;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.suggested-container {
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
}

div.card img {
    width: 100%;
}

.sticky {
    position: fixed;

    background-color: lightgrey;
    padding: 20px;
    border-radius: 6px;

    top: 7em;
    right: 20px;
    z-index: 1;
}


.text-warn {color: red;}

/* for fontawesome icons */
.fa-solid {
    margin-right: 5px;
}

img.loc-img {
    border-radius: 8px;
    width: 45vw;
}

button.review-del {
    float: right;
    background: none;
    border: none;
    margin-top: 10px;
    color: black;
    transition: all 150ms ;
}

button.review-del:hover { 
    color: #ba0f0f;
    transform: scale(1.1); 
}

footer {
    background-color: #ba0f0f;
}
