<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>MiamiInsider - Account</title>
    </head>
    <body>
        <div class="main row">
            <div class="nav nav-pills col-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index') }}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account') }}">
                            Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile', id=user.id) }}">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('review_list', id=user.id) }}">
                            Reviews
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="{{ url_for('logout') }}">
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body col-9">

                <button id="edit-btn">Edit information</button>

                <form method="POST" action="{{ url_for('account_update') }}">
                    <input type="hidden" name="id" value="{{ user.id }}">

                    <label for="first_name">First name:</label>
                    <input type="text" name="first_name" value="{{ user.first_name }}" disabled><br>
                
                    <label for="last_name">Last name:</label>
                    <input type="text" name="last_name" value="{{ user.last_name }}" disabled><br>
                
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="{{ user.email }}" readonly disabled><br>
                
                    <input type="submit" value="Update" disabled>
                </form>

            </div>
        </div>
    </body>
    <script>
        const editBtn = document.getElementById('edit-btn');
        const inputs = document.querySelectorAll('input');

        editBtn.addEventListener('click', () => {
            inputs.forEach(input => {
                input.disabled = !input.disabled;
            });
            if (editBtn.innerHTML == "Edit information") {
                editBtn.innerHTML = "Stop editing";
            } else {
                editBtn.innerHTML = "Edit information";
            }
        });
    </script>
</html>