{% extends "account.html" %}
{% block content %}
    {% include 'utils/flash_messages.html' %}
    <div class="main-body">
        <form method="post">
            {{ form.hidden_tag() }}
            <div>
                <h4>{{ form.email.label() }}</h4>
                {{ form.email }}
                {% for error in form.email.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            <div>
                <h4>{{ form.password.label() }}</h4>
                {{ form.password }}
                {% for error in form.password.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.remember.label() }} {{ form.remember }}
                {% for error in form.remember.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            <div>{{ form.submit }}</div>
        </form>
    </div>
    <div class="login-body">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up</a></p>
        <p><a href="{{ url_for('index') }}">Return home</a></p>
    </div>

    {% include 'utils/footer.html' %}
</div>
{% endblock content %}