<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiamiInsider - Login</title>
    <link rel="stylesheet" type="text/css" href="Website.css" />
</head>
<body>
    <div class="Login">
        <h1 id = "Login"> Login </h1>
        <form action="/action_login.php">
            <label id = "email">Email:</label>
            <input type="text" name="email"><br><br>
            <label>Password:</label>
            <input type="text" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <a href="Sign_Up.html"> Sign up</a>
        <a href="Home.html"> Home </a>
    </div>
    
</body>