{% extends "utils/login-register-template.html" %}
{% block content %}
<div>
    {% include 'utils/flash_messages.html' %}
    <div class="jumbotron login-body">
        <h2 class="display-6 text-center">Sign up</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="">{{ form.first_name.label }}</label>
                {{ form.first_name(class="form-control") }}
                {% for error in form.first_name.errors %}
                <small class="form-text text-warn">{{error}}</small>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="">{{ form.last_name.label }}</label>
                {{ form.last_name(class="form-control") }}
                {% for error in form.first_name.errors %}
                <small class="form-text text-warn">{{error}}</small>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="">{{ form.email.label }}</label>
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <small class="form-text text-warn">{{error}}</small>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="">{{ form.password.label }}</label>
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                <small class="form-text text-warn">{{error}}</small>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="">{{ form.confirm_password.label }}</label>
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                <small class="form-text text-warn">{{error}}</small>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-success") }}
            <span style="float: right;">
                <a class="btn btn-warning" href="{{ url_for('login') }}">Log in</a>
                <a class="btn btn-secondary" href="{{ url_for('index') }}">Return home</a>
            </span>
        </form>
    </div>

    {% include 'utils/footer.html' %}
</div>
{% endblock content %}