<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiamiInsider - Restaurants</title>
    <link rel="stylesheet" type="text/css" href="Website.css" />
</head>
<body>
    <div id = "menu">
        <img src="https://miamioh.edu/_hannonhill/_files/images/logos/primary-alternate-logos/alt-logo-oxford-black.png">
        <h1 id = "title">Miami Insider</h1>
        <a href="Home.html"> Home </a>
        <a href="Restaurants.html"> Restaurants </a>
        <a href="Clinics.html"> Clinics </a>
    </div>
    
</body>
</html>