<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'utils/header-template.html' %}
    <title>MiamiInsider - Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'utils/nav-template.html' %}

    {% include 'utils/flash_messages.html' %}

    <div class="jumbotron">
        <h2 id="SearchHead" class="display-5">
            Location Results
            {%if(ctg_id>-1)%}<a style="margin-left: 5em;font-weight: bold;" href="{{ url_for('random_number', id=ctg_id) }}" class="btn btn-danger"
                id="RandomButton">Random Button</a>{% endif %}
        </h2>
        <hr class="my-4">
        <div id="SortBox">
            <h4 class="mb-3 text-center">Sort By:</h4>
            <div class="row justify-content-center">
                <div class="btn-group btn-group-lg mb-3" role="group">
                    <button type="button" class="btn btn-light" id="Name">Name</button>
                    <button type="button" class="btn btn-light" id="Description">Description</button>
                    <button type="button" class="btn btn-light" id="Rating">Rating</button>
                </div>

                <script>
                    const nameButton = document.querySelector('#Name');
                    const descriptionButton = document.querySelector('#Description');
                    const ratingButton = document.querySelector('#Rating');
                    const sortInput = document.querySelector('#sort');
                    const searchBtn = document.querySelector('.custom-search-btn');

                    nameButton.addEventListener('click', () => { changeSearchBar('Name'); });
                    descriptionButton.addEventListener('click', () => { changeSearchBar('Description'); });
                    ratingButton.addEventListener('click', () => { changeSearchBar('Rating'); });

                    const changeSearchBar = (name) => {
                        sortInput.value = name;
                        searchBtn.click();
                    };

                    // Sticky sort box code
                    window.onscroll = function () { myFunction() };
                    var scrollBox = document.getElementById("SortBox");
                    var searchHeader = document.getElementById("SearchHead");
                    var sticky = scrollBox.offsetTop;

                    function myFunction() {
                        if (window.pageYOffset >= sticky) {
                            scrollBox.classList.add("sticky")
                            searchHeader.style.cssText = "margin-top:105px;";
                        } else {
                            scrollBox.classList.remove("sticky");
                            searchHeader.style.cssText = NaN;
                        }
                    }

                </script>
            </div>
        </div>

        <div class="wrap-container suggested-container">
            {% include 'utils/location-cards.html' %}
        </div>
    </div>

    {% include 'utils/footer.html' %}
</body>

</html>