<nav class="navbar sticky-top navbar-dark bg-dark">
<a class="navbar-brand" href="{{ url_for('index') }}">
    <img style="max-width: 80px;"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Miami_Redhawks_logo.svg/1200px-Miami_Redhawks_logo.svg.png">
    MiamiInsider
</a>

<form method="POST" action="{{ url_for('search') }}" class="form-inline">
    {{ search_form.hidden_tag() }}
    
    <div class="form-group">
        {{ search_form.query(class="custom-search form-control", placeholder="Search...") }}
        {{ search_form.submit(class="custom-search-btn btn btn-light") }}
    </div>
</form>

<script>
    // Get the search input field and search button
    const searchInput = document.querySelector('.custom-search');
    const searchBtn = document.querySelector('.custom-search-btn');

    // Add event listener to search input field
    searchInput.addEventListener('keydown', (event) => {
        // Check if the key pressed is the "Enter" key
        if (event.key === 'Enter') {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Programmatically click the search button to submit the form
            searchBtn.click();
        }
    });
</script>


{% if not session.logged_in %}
<div class="btn-group" role="group">
    <a class="btn btn-light" href="{{ url_for('register') }}">Sign up</a>
    <a class="btn btn-danger" href="{{ url_for('login') }}">Log in</a>
</div>
{% else %}
<div class="btn-group" role="group">
    <a class="btn btn-light" href="{{ url_for('profile', id=session.user_id) }}">Profile</a>
    <a class="btn btn-danger" href="{{ url_for('account') }}">Account</a>
</div>
{% endif %}
</nav>