<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img style="max-width: 80px;"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Miami_Redhawks_logo.svg/1200px-Miami_Redhawks_logo.svg.png">
        MiamiInsider
    </a>

    <form class="form-inline">
        <input class="custom-search form-control" type="search" placeholder="Search..." aria-label="Search">
        <button class="custom-search-btn btn btn-light" type="submit">Search</button>
    </form>

    {% if not session.logged_in %}
    <div class="btn-group" role="group">
        <a class="btn btn-light btn-lg" href="{{ url_for('register') }}">Sign up</a>
        <a class="btn btn-danger btn-lg" href="{{ url_for('login') }}">Log in</a>
    </div>
    {% else %}
    <a class="btn btn-danger" href="{{ url_for('account') }}">Account</a>
    {% endif %}
</nav>